body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 90rem; */
  padding: 9.5rem 0rem 9.4375rem 0rem;
  background-color: hsl(212, 45%, 89%);
}

section {
  display: grid;
  grid-template-rows: auto auto;
  place-items: center;
  width: 20rem;
  height: 31.0625rem;
  padding: 1rem;
  background-color: white;
  border-radius: 1.25rem;
}

section img {
  width: 18rem;
  height: 18rem;
  border-radius: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.text {
  /* height: 8.0625rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 18rem;
}

.text p:first-child {
  width: 18rem;
  height: 3.5rem;
  font-size: 1.375rem;
  font-family: Outfit;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  text-align: center;
}

.text p:last-child {
  width: 16rem;
  height: 3.5625rem;
  font-size: 0.9375rem;
  font-family: Outfit;
  color: hsla(219, 15%, 55%, 1);
  text-align: center;
}

@media (max-width: 23.4375rem) {
  body {
    margin: auto;
  }
}
